
*.lock
.vs/Project56_new/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
*.ide-wal
*.ide
*.ide-shm
*.ide-wal
.vs/Project56_new/v15/sqlite3/storage.ide
*.ide-wal
*.ide
*.ide-shm
*.ide
.vs/Project56_new/v15/.suo
*.ide-shm
*.ide
*.config
.vs/Project56_new/v15/.suo
.vs/Project56_new/v15/Server/sqlite3/storage.ide-shm
.vs/Project56_new/v15/sqlite3/storage.ide-wal
*.config
*.config
.vs/Project56_new/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.pdb
*.json
*.config
*.ide
.vs/Project56_new/v15/.suo
*.config
.vs/Project56_new/v15/.suo
*.config
.vs/Project56_new/v15/.suo
.vs/Project56_new/v15/sqlite3/storage.ide
.vs/Project56_new/v15/sqlite3/storage.ide-shm
.vs/Project56_new/v15/sqlite3/storage.ide-wal
Project56_new/bin/Debug/netcoreapp2.0/Project56_new.deps.json
Project56_new/bin/Debug/netcoreapp2.0/Project56_new.dll
Project56_new/bin/Debug/netcoreapp2.0/Project56_new.pdb
Project56_new/bin/Debug/netcoreapp2.0/Project56_new.runtimeconfig.dev.json
Project56_new/obj/Debug/netcoreapp2.0/Project56_new.AssemblyInfo.cs
Project56_new/obj/Debug/netcoreapp2.0/Project56_new.AssemblyInfoInputs.cache
Project56_new/obj/Debug/netcoreapp2.0/Project56_new.csproj.CoreCompileInputs.cache
Project56_new/obj/Debug/netcoreapp2.0/Project56_new.csprojResolveAssemblyReference.cache
Project56_new/obj/Debug/netcoreapp2.0/Project56_new.dll
Project56_new/obj/Debug/netcoreapp2.0/Project56_new.pdb
Project56_new/obj/project.assets.json
Project56_new/obj/Project56_new.csproj.nuget.cache
Project56_new/obj/Project56_new.csproj.nuget.g.props
Project56_new/obj/Project56_new.csproj.nuget.g.targets
