@model Project56_new.Models.Itms

@{
    ViewData["Title"] = "Edit";
}

<h2>Product bewerken</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="long_description" class="control-label"></label>
                <input asp-for="long_description" class="form-control" />
                <span asp-validation-for="long_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category_id" class="control-label"></label>
                <select name="category_id" class="form-control">

                    @if (Model.category_id == 0)
                    {

                     <option value="0" selected>Zonnebrillen</option>
                      <option value="1">Sterktebrillen</option>
                    }
                    else
                    {
                        <option value="0">Zonnebrillen</option>
                        <option value="1" selected>Sterktebrillen</option>


                    }
                </select>
                <span asp-validation-for="category_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsSales" class="control-label"></label>
                <select name="IsSales" class="form-control">

                    @if (Model.IsSales ==-1)
                    {

                        <option value="-1" selected>Nee</option>

                        <option value="1">Ja</option>
                    }
                    else
                    {
                        <option value="-1">Nee</option>

                        <option value="1" selected>Ja</option>

                    }
                </select>
                <span asp-validation-for="category_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photo_url" class="control-label"></label>
                <input asp-for="photo_url" type="file" name="pic" accept="image/*" />
            </div>
            <div class="form-group">
                <label asp-for="itm_quantity" class="control-label"></label>
                <input asp-for="itm_quantity" class="form-control" min="0"/>
                <span asp-validation-for="itm_quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="l_show" class="control-label"></label>
                <select name="l_show" class="form-control">

                    @if (Model.l_show == 1)
                    {

                        <option value="1" selected>Actief</option>
                        <option value="0">Inactief</option>
                    }
                    else
                    {
                        <option value="1" >Actief</option>
                        <option value="0" selected>Inactief</option>

                    }

                    
                </select>
                <span asp-validation-for="l_show" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <div style="float:right;">
                    @Html.ActionLink("Terug", "Index", "Itms", null, new { @class = "btn btn-default btn-large" })
                </div>
            </div>
        </form>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
