@model IEnumerable<Project56_new.Models.Itms>

@{
    ViewData["Title"] = "Home Page";
}

@*<@Html.DisplayFor(modelItem => item.description)*@

<div id="page-wrapper" class="container-fluid">
    @* TODO : Need to fix passing more parameters and build a proper query.*@
    <form asp-action="Index" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-2">
                        <h2>Filter</h2>
                        <div class="form-group">
                            <label>Product naam</label>
                            <input class="form-control" name="search" placeholder="Zoekproducten." value="@ViewData["currentFilter"]">
                        </div>
                        <div class="form-group">
                            <label>Categorie</label>
                            <select class="form-control" name="glass_type">
                                <option>Alle Brillen</option>
                                <option>Sterkte Brillen</option>
                                <option>Zonne Brillen</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Maximale Prijs</label>
                            <input class="form-control" name="maxPrice" type="number" max="999" min="1">
                        </div>
                        <div class="form-group">
                            <label><input class="form-control" name="onsale" type="checkbox"> Uitverkoop </label>
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Zoeken</button>
                            <button type="reset" class="btn btn-primary">Herstel filter</button>
                        </div>
                    </div>
                    <!-- Hieronder starten met producten asah-->
                    <div class="col-xs-10">
                        <h2>Sales</h2>
                        @foreach (var item in Model)
                        {
                            <div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 sale-item">
                                <span class="sale">Sale!</span>
                                <div class="sale-img-outer">
                                    @if (item.itm_quantity == 0)
                                    {
                                        <img class="sale-img-inner" src="~/images/products/out-of-stock.png">
                                    }
                                    else
                                    {
                                        <img class="sale-img-inner" src="~/images/products/@Html.DisplayFor(modelItem => item.photo_url)">
                                    }
                                </div>
                                <div class="sale-specs">
                                    <div class="sale-title"><h3>@Html.DisplayFor(modelItem => item.description)</h3></div>
                                    <div class="sale-price"><h3>&euro; @Html.DisplayFor(modelItem => item.price)-</h3></div>
                                </div>
                                <p>
                                    <!-- Hier item.long_description-->
                                    De Original Wayfarer zonnebrillen van Ray-Ban hebben de best herkenbare stijl uit de geschiedenis van zonnebrillen.
                                </p>
                                <p><a class="btn btn-primary" href="/ProductDetails/View/@Html.DisplayFor(modelItem => item.id)">Lees meer &raquo;</a>
                                    <a href="/"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </p>
                                
                                @if (item.itm_quantity != 0)
                                {
                                    <p>
                                        @Html.ActionLink("Toevoegen aan winkelmand", "SaveItmInShoppingCart", "ShoppingCart",
                      routeValues: new
                      {
                          itm_id = item.id
                      },
                        htmlAttributes: new { @class = "btn btn-success btn-large" })
                                </p>
                                }
                                else
                                {
                                    <p><a class="btn btn-info" href="home/contact">Contact &raquo;</a></p>
                                }
                                
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> <!-- /#wrapper -->

    
