<script>
        var PieChartWebshop =
            {
                labels: ["Aantal producten in webshop", "Aantal orders"],
                datasets: [{
                    label: 'Statistieken',
                    backgroundColor: [
                        "#99e5e5",
                        "#f7bd83"
                    ],
                    borderWidth: 2,
                    data: [@ViewBag.amount_products ,   @ViewBag.total_orders]
                }]
            };
        var PieChartMoney =
            {
                labels: [ "Totale omzet inclusief BTW",  "Totale omzet exclusief BTW"],
                datasets: [{
                    label: 'Omzet',
                    backgroundColor: [
                        "#f990a7",
                        "#aad2ed"
                    ],
                    borderWidth: 2,
                    data: [@ViewBag.total_money_inclusive , @ViewBag.total_money_exclusive]

                }]
            };
            window.onload = function () {
                var ctx1 = document.getElementById("PiecanvasMoney").getContext("2d");
                var ctx2 = document.getElementById("PiecanvasWebshop").getContext("2d");

                window.myBar = new Chart(ctx2,
                    {
                        type: 'pie',
                        data: PieChartWebshop,
                        options:
                        {
                            title:
                            {
                                display: true,
                                text: "Statistieken"
                            },
                            responsive: true,
                            maintainAspectRatio: true
                        }
                    });
                window.myBar = new Chart(ctx1,
                    {
                        type: 'pie',
                        data: PieChartMoney,
                        options:
                        {
                            title:
                            {
                                display: true,
                                text: "Omzet"
                            },
                            responsive: true,
                            maintainAspectRatio: true
                        }
                    });
            }
</script>
<div class="row" style="overflow:hidden;">
    <div class="col-md-6 col-xs-12">
        <canvas height='200' id="PiecanvasMoney"></canvas>
    </div>
    <div class="col-md-6 col-xs-12">
        <canvas height='200' id="PiecanvasWebshop"></canvas>
    </div>

</div>