body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}

    .nav-sidebar a {
        color: #333;
        -webkit-transition: all 0.08s linear;
        -moz-transition: all 0.08s linear;
        -o-transition: all 0.08s linear;
        transition: all 0.08s linear;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

    .nav-sidebar .vertical-menu a {
        cursor: default;
        background-color: #464646;
        color: #fff;
        text-shadow: 1px 1px 1px #666;
        margin-bottom: 1px;
        border-radius: 5px;
    }

        .nav-sidebar .vertical-menu a:hover {
            background-color: #428bca;
        }

    .nav-sidebar .text-overflow a,
    .nav-sidebar .text-overflow .media-body {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }


.navbar-inverse {
    background-color: #212121 !important;
    border-color: none !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    min-height: 90px;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-size: 15pt;
    }

.vmenu {
    padding: 0px;
}


/* Actie styling */
.sale-item {
    border: 5px solid rgb(224, 224, 224);
    margin: 20px;
    box-sizing: border-box;
    padding: 10px;
    max-width: 265px;
    max-height: 430px;
    min-height: 430px;
    background-color: white;
}

    .sale-item:after {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        /*border: 2px solid rgba(244, 66, 66,.5); */
    }

.sale-img-inner {
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
}

.sale-img-outer {
    max-width: 100%;
}

.sale-title {
    float: left;
    width: 50%;
}

.sale-price {
    float: right;
    width: 50%;
    text-align: right;
}

.normal-item {
    border: 5px solid rgb(224, 224, 224);
    margin: 20px;
    box-sizing: border-box;
    padding: 10px;
    max-width: 265px;
    max-height: 430px;
    min-height: 430px;
    background-color: white;
}

    .normal-item:after {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        /*border: 2px solid rgba(66, 66, 244,.5); */
    }

.normal-img-inner {
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
}

.normal-img-outer {
    max-width: 100%;
}

.normal-title {
    float: left;
    width: 50%;
}

.normal-price {
    float: right;
    width: 50%;
    text-align: right;
}

/* Bewegend icoon*/
.sale {
    position: absolute;
    left: 10px;
    top: 10px;
    background: rgba(244, 66, 66,.9);
    color: white;
    height: 4.0rem;
    width: 4.0rem;
    text-align: center;
    line-height: 4.0rem;
    margin: -15px;
    transform: rotate(-20deg);
    animation: beat 1s ease infinite alternate;
    font-size: 11pt;
}

    .sale:before,
    .sale:after {
        content: "";
        position: absolute;
        background: inherit;
        height: inherit;
        width: inherit;
        top: 0;
        left: 0;
        z-index: -1;
        transform: rotate(30deg);
    }

    .sale:after {
        transform: rotate(60deg);
    }

@keyframes beat {
    from {
        transform: rotate(-20deg) scale(1);
    }

    to {
        transform: rotate(-20deg) scale(1.1);
    }
}

#imaginary_container {
    width: 86%;
    padding: 6px;
}
/* social media */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

    .loginBtn:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 34px;
        height: 100%;
    }

    .loginBtn:focus {
        outline: none;
    }

    .loginBtn:active {
        box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
    }


/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
}

    .loginBtn--facebook:before {
        border-right: #364e92 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
    }

    .loginBtn--facebook:hover,
    .loginBtn--facebook:focus {
        background-color: #5B7BD5;
        background-image: linear-gradient(#5B7BD5, #4864B1);
    }


/* Google */
.loginBtn--google {
    background: #DD4B39;
}

    .loginBtn--google:before {
        border-right: #BB3F30 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
    }

    .loginBtn--google:hover,
    .loginBtn--google:focus {
        background: #E74B37;
    }

.body-content {
    overflow-y: scroll auto;
    min-height: 514px;
}

#footer {
    height: 58px;
    background: #006699 !important;
    text-align: center;
    color: white;
}

.MarginTop {
    margin-top: 6px;
}

.container-content {
    float: left;
    width: 100%;
}

.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }



    table#cart tfoot td {
        display: block;
    }

        table#cart tfoot td .btn {
            display: block;
        }
}

li.vertical-menu {
    width: 100% !important;
    min-width: 200px;
    padding: 0px 4px 1px 4px;
}


/* Menu vertical test */
html, body, .container-vertical-menu {
    height: 100%;
}

.container-vertical-menu {
    display: table;
    width: 100%;
    /*padding: 50px 0 0 0;*/
    box-sizing: border-box;
}

header {
    height: 50px;
}

.row-vertical {
    height: 100%;
    display: table-row;
}

.test1 {
    background: #E5E4E4;
}

.test2 {
}

.row-vertical .no-float {
    display: table-cell;
    float: none;
}

.container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 99% !important;
}

li.divider-vertical {
    height: 50px;
    margin: 0 10px;
    border: 1px solid #035984;
}

i.fa.fa-star {
    font-size: 3em;
    color: #969696;
    float: right;
}

    i.fa.fa-star:hover {
        font-size: 3em;
        color: rgba(244, 66, 66, 0.9);
        float: right;
    }

/* Product slider css*/
#myCarousel {
    min-height: 440px;
    max-height: 440px;
}

.carousel-inner {
    min-height: 440px;
    max-height: 440px;
}

a.left.carousel-control, a.right.carousel-control {
    width: 20px;
    color: black;
    background-image: none;
    min-height: 500px;
}

a.left.carousel-control {
    left: -20px;
}

a.right.carousel-control {
    
}

.space {
    padding: 20px;
}

.mail-success {
    background-color: #5cb85c;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: white;
}

.nopadding {
    padding: 0px !important;
}


a.right.carousel-control.mainSlider, a.left.carousel-control.mainSlider {
    width: 8%;
    height: 30px;
    margin-top: -80px !important;
    color: white;
}

.products {
    background-color:#eaeaea;
}

.mainSlider {
    max-height: 442px !important;
}

.img-slide-1 {
    height: 440px;
    background-image: url(../images/slider/bdh-studio-sunglass4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 48%;
}

.img-slide-2 {
    height: 440px;
    background-image: url(../images/slider/bdh-studio-sunglass5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 48%;
}

.caption-slide-1 {
    top: 75px;
    text-align: left;
}

.img-center {
    margin: 0 auto;
}

.g-brands {
    max-width: 300px;
    padding: 30px;
    margin-top: 10px;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

    .g-brands:hover {
        opacity: 1.0;
        transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -webkit-transition: opacity 0.2s ease-in-out;
    }

.g-brands-header {
    background-color: #212121;
    color: white;
}

div.title_wrapper {
    height: 10em;
    position: relative;
}

div.title_wrapper h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.row.footer-row {
    background-color: #212121;
    color: white;
    /*position: absolute;*/
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}


.custom-container {
    width: 100%;
    margin-top: 40px;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0px;
}

.padding-fix {
    padding-left: 20px;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.campaignholder {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    margin-top: 20px !important;
}

#center-content-inner {
    display: table;
    margin: 0 auto;
    width: 55%;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #bfbfbf;
    background-color: #e0e0e0;
    border-radius: 5px;
}


.row.footer-pages {
    background-color: #212121;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}