@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h2 class="text-danger">Access denied</h2>
    <p class="text-danger">U heeft geen toegang tot deze pagina.</p>
</header>

<script>
    window.setTimeout(function () {
        window.location.href = '/';
    }, 2000);
</script>